# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
# dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# # Build directories
# client/dist/
# server/client/dist/

# Cert directories
server/certs/
certs/

# SSL certificates
server/certs/*.pem

# Firebase Admin SDK (if used in the future)
server/config/firebase-admin-sdk.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore generated keys (if any)
*.key
